body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    padding: 20px;
    font-size: xx-large;
  }
  
  h1 {
    text-align: center;
    color: darkslateblue;
  }
  
  .movies-list {
    list-style-type: square;
    padding-left: 40px;
    font-size: 18px;
    font-size: x-large;
  }
  
  .movies-list li {
    margin-bottom: 10px;
    color: #333;
  }
  
  #favorite {
    font-weight: bold;
    color: crimson;
    background-color: #383636;
    padding: 5px 10px;
    border-radius: 6px;
  }
  